html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* reset css */

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$bg:        $base3;
$fg:        $base02;

[v-cloak] > * { display:none }

label.btn {
  cursor: pointer;
}

.gunLite {
  border: 1px dashed;
  cursor: pointer;
  height: 4rem;
  max-width: 3rem;
  &:hover {
	border: 1px solid $blue;
	box-shadow: 2px 1px $blue;
  }
  img {
	width: 3rem;
	height: 3rem;
  }
  span {
	display: block;
	text-align: left;
	font-size: .7rem;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
  }  
}

.gunLiteSelected {
  border: 1px solid $red;
  box-shadow: 2px 1px $red;
  & span{
    background-color: $red;
    color: white;
  }
}

.gunLiteDamaged { 
  background-color: white;
  position: relative;
  cursor: pointer;
  right: -2.5rem;
  bottom: 1rem;
  padding: 0 .1rem;
  font-size: 1rem;
  line-height: normal;
}

#toTop {
  position: fixed;
  bottom: 1rem;
  right: 1.5rem;
  //opacity: .7;
  z-index: 10;
  &:hover{
    opacity: 1;
  }
}

.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 4rem;
  height: 4rem;
}
